<h4>Listado Personajes</h4>
<ul class="mt-2 list-group">
    <li *ngFor="
        let character of characterList; 
        let i= index;
        let isFirst= first;
        let isLast= last;
        let isEven= even;
    " 
        class="list-group-item list-group-item-action"
        [ngClass]="{
            'list-group-item-info': isFirst,
            'list-group-item-dark': isLast
        }">
        <span class="text-primary"> {{ i + 1 }}.-</span>
        <span> {{ character.name }} - </span>
        <strong>Power: </strong>  
        <span> {{ character.power }} </span>
        <span>Es el Primero: {{ isFirst }} </span>
        <span>Es el Ultimo: {{ isLast }} </span>
    </li>
</ul>